body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #b2a4a4;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.game-btn {
  text-decoration: none;
  background-color: #194824;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease;
}

.game-btn:hover {
  background-color: #4fc268;
}
